$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/solid";

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

$grid-breakpoints: (
    xs: 0,
    sm: 320px,
    md: 768px,
    lg: 1024px,
    xl: 1440px,
);

@import "~bootstrap/scss/bootstrap";

@font-face {
    font-family: "open-sans";
    src: url("fonts/OpenSans-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "open-sans";
    src: url("fonts/OpenSans-Bold.ttf");
    font-weight: bold;
}

$primary-color: #cc0d1f;
$ciano: #5e8f89;
$ciano-btn: #80bdb8;

body {
    font-family: "open-sans";
}

.login {
    background: #231f20;
    color: #fff;

    span {
        padding: 5px;

        a {
            text-decoration: underline;
            color: #fff;
            font-weight: bold;
        }
    }
}



.search-row {
    .btn {
        font-weight: bold;
        background-color: $primary-color;
        color: #fff;
    }
}

#menulist2 {
    a {
        color: #000;
    }
}

.menu {
    font-weight: bold;
    background: $primary-color;
    padding: 10px;
    a {
        color: #fff;
        padding: 15px 15px 15px 0;
    }
}

#displayStyle{
    .active i{
        color: $ciano-btn;
    }
}

aside {
    .box {
        border: 1px solid #e2dedd;
        border-radius: 3px;
        padding: 10px;
    }

    h5 {
        font-weight: bold;
        color: $primary-color;
    }
    h6 {
        color: $ciano;
        font-weight: bold;
    }
    ul {
        li {
            color: #949494;
            cursor: pointer;
        }
    }

    .colors {
        li {
            display: inline;
            div {
                display: inline-block;
                height: 25px;
                width: 50px;
            }
        }
    }
}

.breadcrumb {
    margin: 15px 0;
    background: unset;
    font-size: 0.75rem;
    span {
        &:last-child {
            color: $primary-color;
        }
    }
}

.borderAfterProd {
    padding: 5px;
    border-top: 1px solid #e2dedd;
    border-bottom: 1px solid #e2dedd;
}

.productsSection {
    h1 {
        font-size: 2rem;
        color: $primary-color;
    }
    .products {
        margin: 20px 0;

        .infos {
            width: 140px;
        }

        .box {
            border: 1px solid #e2dedd;
            border-radius: 3px;
            padding: 10px;
            width: 150px;
            height: 150px;

            img {
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
        }

        h6 {
            height: 40px;
            margin: 10px 0;
        }

        .price {
            margin: 15px 0;

            .oldPrice {
                color: #949494;
                font-weight: bold;
                text-decoration: line-through;
                font-size: 0.75rem;
            }
            span {
                font-weight: bold;
                color: $primary-color;
            }
        }

        button {
            font-weight: bold;
            background-color: $ciano-btn;
            border: none;

            &:hover {
                background: $ciano;
            }
        }
    }
}

footer {
    background: $primary-color;
    width: 100%;
    height: 150px;
}
